body{
    background-color:wheat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    
}
h4{
    color:seashell;
}
@media screen and (min-width:576px){
    .about-center{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;

    }
}
    .about{
        flex:0 0 calc(50%-16px);
    }
}
@media screen and(min-width:972px){
    .about{
        flex:0 0 calc(33.3%-16px);
    }
}
.service-card{
    box-shadow:1px 1px 20px 5px black;
    display:flex;
    flex-direction:column;
    padding:10px;
    margin:5px;
}
 
 
