body{
    background-color:powderblue;
}
.main{
    background-color:black;
    margin:100px 300px 200px 300px;
    padding:50px 50px 50px 50px;
    display:flex;
}

.jhf{
    text-align:left;
    padding:100px 100px 100px 100px;
}

form{
    float:right;
}

.tdf{
    background-color:brown;
    color:white;
    border:0px none;
    padding:5px 10px 5px 10px;
}

left{
    padding:100px 20px 100px 20px
}